/* Home */
#home{
    height: px;
}
 .headings{
     font-size: 1.7rem;
 }

 /* About */
 #pic img{
     width: 900px;
     height: 575px;
 }
#intro h2{
    font-size: 1.5rem;
}
/* Portfolio */
.gallery img{
    width: 250px;
    height: 150px;
    margin: 10px;
}